# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [20]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [21]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [22]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

8056

In [23]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(line)
    print(sum(1 for line in f))

['', 'Logged Out', '', '', '65', '', '', 'paid', '', 'GET', 'About', '', '758', '', '200', '1.54275E+12', '']
6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [24]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [25]:
# TO-DO: Create a Keyspace 
try:
    session.execute("CREATE KEYSPACE IF NOT EXISTS udacity_proj \
                    WITH REPLICATION = \
                    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 } ")
except Exception as e:
                     print(e)

#### Set Keyspace

In [26]:
# TO-DO: Set KEYSPACE to the keyspace specified above
try:
    session.set_keyspace("udacity_proj")
except Exception as e:
        print(e)

### Now we need to create tables to run the following queries. Remember, with Apache Cassandra you model the database tables on the queries you want to run.

## Create queries to ask the following three questions of the data

### 1. Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4


### 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
    

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [27]:
## TO-DO: Query 1:  Give me the artist, song title and song's length in the music app history that was heard during \
## sessionId = 338, and itemInSession = 4

#select artist, song, length from music_library1 WHERE session_id = 338 and itemInSession = 4
#select * from music_library1 WHERE session_id = 338 and itemInSession = 4
                    
#CREATE TABLE music_library1

try:
    session.execute("CREATE TABLE music_library1(artist text, song text, firstName varchar, lastName varchar,\
               userid int, sessionid int, iteminsession int, length float, PRIMARY KEY(sessionid,iteminsession) )")
except Exception as e:
    print(e)

In [28]:
# We have provided part of the code to set up the CSV file. Please complete the Apache Cassandra code below#
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO music_library1(artist, song, firstName, lastName, userid, sessionid, iteminsession, length)"
        query = query + "VALUES(%s, %s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query,(line[0], line[9], line[1], line[4], int(line[10]), int(line[8]), int(line[3]), float(line[5])))

#### Do a SELECT to verify that the data have been inserted into each table

In [29]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table

query = "SELECT * from music_library1 WHERE sessionid = 338 and itemInSession = 4"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

### COPY AND REPEAT THE ABOVE THREE CELLS FOR EACH OF THE THREE QUESTIONS

In [30]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

#select artist, song , firstname, lastname from music_library2 WHERE userid = 10 and sessionid = 182

#CREATE TABLE music_library2

try:
    session.execute("CREATE TABLE music_library2(userid int, sessionid int, iteminsession int,\
                song text,artist text, firstName varchar, lastName varchar,\
                PRIMARY KEY((userid,sessionid),iteminsession,song,artist) )")
except Exception as e:
    print(e)

In [31]:
#Process file to insert data
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO music_library2(artist, song, firstName, lastName, userid, sessionid, iteminsession)"
        query = query + "VALUES(%s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[0], line[9], line[1], line[4], int(line[10]), int(line[8]), int(line[3])))

In [32]:
#Add in the SELECT statement to verify the data was entered into the table

query = "select song, artist, firstname, lastname from music_library2 WHERE userid = 10 and sessionid = 182"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:   
    print(row.artist, row.song, row.firstname, row.lastname)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

In [33]:
## TO-DO: Query 3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

#select firstname, lastname, from music_library3 WHERE song='All Hands Against His Own'

#CREATE TABLE music_library3
try:
    session.execute("CREATE TABLE music_library3(song text, firstName varchar, lastName varchar, artist text,\
                       userid int, sessionid int, iteminsession int, PRIMARY KEY(song))")
except Exception as e:
    print(e)

In [34]:
#Process file to insert data
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
## TO-DO: Assign the INSERT statements into the `query` variable
        query = "INSERT INTO music_library3(song, firstName, lastName, artist, userid, sessionid, iteminsession)"
        query = query + "VALUES(%s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query, (line[9], line[1], line[4], line[0], int(line[10]), int(line[8]), int(line[3])))

In [35]:
#Add in the SELECT statement to verify the data was entered into the table

try:
    query = "select firstname, lastname from music_library3 WHERE song='All Hands Against His Own'"
    rows = session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.firstname, row.lastname)

Sara Johnson

### Drop the tables before closing out the sessions

In [36]:
## TO-DO: Drop the table before closing out the sessions

In [37]:
try:
    session.execute("DROP TABLE IF EXISTS music_library1")
    session.execute("DROP TABLE IF EXISTS music_library2")
    session.execute("DROP TABLE IF EXISTS music_library3")
except Exception as e:
    print(e)

### Close the session and cluster connection¶

In [38]:
session.shutdown()
cluster.shutdown()